#gallery div{
	position:relative;
	float:left;
	margin: 0.5%;
	overflow: hidden;
}
#gallery .grid-2{
	width:49%;
}
#gallery .grid-4{
	width:24%;
}
#gallery div img{
	max-width:100%; 
	max-height:100%;
}
#gallery a:hover .darker{
	z-index: 10;
	height: 100%;
}
#gallery a:hover .image-desc{
	height: 70px;

	display: -webkit-box;		/*2줄이상 ellipsis */
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:4;
}
#gallery a:hover img{
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;  

	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
#gallery .darker{
	position: absolute;
	left: 0; top:0; width:100%; height: 0;
	background-color: black;
	opacity: 0.5;
}
#gallery .image-desc{
	z-index: 10;
	position:absolute;
	left:12px; bottom:1%; width:90%;height:55px;
	color:white;
	font-family: Arial;
	font-weight:bold;
	display:block;
	overflow:hidden;

	display: -webkit-box;			/*2줄이상 ellipsis */
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;

/*	(1줄 ellipsis)
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
*/
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;  
}
.line-3{
	bottom:1%;
	height:18%;
}

/*--------------------------------------------------------------------------------------------------------------*/

#board{
	float:left;
	width: 100%;
}
#board div{
	position: relative;
	float:left;
	width:24.5%;
	height: 350px;
	margin: 20px 0.25%;
	overflow: hidden;
}
#board img{
	max-width:100%; 
	max-height:100%;

	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;  
}
#board a{
	text-decoration: none;
}
#board a:hover img{
	margin-top: -50%
}
/*--------------------------------------------------------------------------------------------------------------*/

#board2{
	float: left;
	width: 100%;
}
#board2 div{
	position: relative;
	float: left;
	width:99.5%;
	height: 100px;
	margin: 20px 0.25%;
	overflow: hidden;
}
#board2 img{
	float: left;
	max-width:20%; 
	max-height:100%;

	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out; 
}
#board2 p{
	float: left;
	width: 76%;
	margin:0.2%;
}
#board2 a{
	text-decoration: none;
}
#board2 a:hover img{
	margin-left: -50%
}
/*--------------------------------------------------------------------------------------------------------------*/
